
html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  font: 50px "Monaco", Inconsolata, monospace;
  background: #031c29;
  color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -275px;
}

.break:before {
  content: '>>';
  color: #e1f148;
}
