
html, body {
    height: 98%;
    margin-left: 3px;
    width: 100% - 3px;
    font: 10px "Monaco", Inconsolata, monospace;
    background: #031c29;
    color: #f8f8f8;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

.break:before {
    content: '>>';
    color: #e1f148;
}

.desc {
    margin-top: -5px;
    margin-left: 45px;
    font-size: 18px;
    color: #f8f8f8;
}
